@charset "utf-8";

body {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  display: flex;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 30px;
}

li a {
  color: #24292e;
  text-decoration: none;
  font-size: 0.9rem;
}

.content {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.content h2 {
  font-size: 2rem;
  color: #383e45;
  border-bottom: 1px solid #333;
  display: inline-block;
  margin-top: 0;
}

/* ヘッダー */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__title {
  width: 120px;
  padding: 10px 0;
  margin: 0;
}

.page-header__title a {
  display: block;
  width: 120px;
  height: 40px;
}

/* メイン */
.mainvisual {
  margin-bottom: 80px;
}

.mainvisual img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  max-width: 1920px;
}





